<style>

</style>
<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark"
  style="background-color: #1d2840 !important"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img
        src="https://storage.googleapis.com/orbit-logo/ORBIT%20-%20LOGOTIPO%20-%20HORIZONTAL%205.png"
        width="auto"
        height="100"
        alt=""
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="/logout"
            style="font-weight: bold"
            >Sair</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<div
  class="container"
  style="

    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
    text-align: center;
  "
>
  <h1>Orbit Export Comments</h1>
  <br />
  <button
    type="button"
    class="btn btn-primary"
    onclick="document.getElementById('upload_input').click()"
  >
    Upload de lista
  </button>
  <input
    type="file"
    id="upload_input"
    (change)="onFileChange($event)"
    style="display: none"
  />
  <p></p>

  <button
    type="button"
    class="btn btn-primary"
    (click)="sendRequestUsingList()"
  >
    Exportar Comentários!
  </button>

  <ng-template [ngIf]="getExporting()">
    <h4>Exportando....</h4>
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div></ng-template
  >

  <ng-template [ngIf]="getDownloading()">
    <h4>Fazendo Downloads....</h4>
  </ng-template>
  <ng-template [ngIf]="getFinishedOperation()">
    <h4>Operação Finalizada!!</h4>
  </ng-template>

  <!-- Button trigger modal -->

  <button
    type="button"
    class="btn btn-primary"
    id="myButton"
    #myButton
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
    style="display: none"
  >
    Launch demo modal
  </button>

  <!-- Modal -->
  <div
    class="modal fade"
    data-keyboard="false"
    data-backdrop="static"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Antenção!</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body d-block">
          {{ modalMessage }}
          <br />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            #myCloseButton
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Ok!
          </button>
        </div>
      </div>
    </div>
  </div>
  <br />
</div>
